body {
    font-size: 18px; /* Ajustar el tamaño del texto en general */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input[type="text"], select, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.resultado-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.resultado-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.resultado-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.separador {
    border-left: 2px solid #000;
    height: 40px;
    margin: 0 10px;
}

.resultado-dato {
    font-size: 24px;
}

.linea-separadora {
    border-top: 2px solid #000;
    margin: 20px 0;
}

@viewport {
    width: device-width;
    initial-scale: 1.0;
    user-scalable: no;
}
